<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.backstage.dao.HotelSearchCustomMapper">

    <sql id="Base_Column_List">
      h.`hid` id,h.`cid`,h.`hname`,h.`address`,h.`rooms`,hc.`hlogo`,hc.`hcontent`,hc.`hdesc`
    </sql>

    <select id="selectHotelByHid" parameterType="int" resultType="com.hm.backstage.pojo.vo.HotelCustom">
        select
        <include refid="Base_Column_List"/>
        from hotel h
        LEFT JOIN hotelContent hc
        ON
        h.`hid`=hc.`hid`
        WHERE h.hid=#{hid}

    </select>

</mapper>