@charset "UTF-8";

@media screen and (min-width: 1001px) {
  .sign-top, .login-form, .qq-body, .sign-top-phone, .nouser-body {
    display: none; }

  .other-login-background {
    display: block; } }
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .reg_main1200 {
    width: 980px; }

  .py_nav {
    padding: 0; }

  .py_nav li {
    margin: 0 24px; }
  .reg_name{
      width:97px;
  }
  .reg_false{
      padding-left:78px
  }
  .bind_false{
      margin-left:98px;
  }
  .bind_boxR{
      margin-left:30px;
  }
}

