@charset "utf-8";
@media screenand and (min-width:1001px) and (max-width:1200px) {
	.main_pc{ display: block}
	.main_wrap{ display: none;}
}
@media screen and (min-width:0px) and (max-width:999px) {
	.main_pc{ display: none}
	.main_wrap{ display: block;}
}
@media screen and (min-width:1001px){
    .main_wrap{ display: none;}
}
@media screen and (min-width:1000px) and (max-width:1199px) {
    .main_w1200 {
        width: 1000px;
    }
    .reg_main1200 {
        width: 1000px;
    }
}
/*@media all and (orientation : landscape) {  
        .main_pc{ display: block}
	.main_wrap{ display: none;}
}  
      
@media all and (orientation : portrait) {
    .main_pc {
        display: none;
    }

    .main_wrap {
        display: block;
    }
}*/