/*=========================我的如家==================================*/
.num_style {font-family:'Arial';}
input{border:0 none;outline:none;}
.myHome_h5 .h5_main_header {margin-top:-1px;background:#C0191F;position:relative;padding-bottom: 16px;}
.myHome_h5 .h5_main_header .h5_bg {position:relative;display:block;height:108px;margin-left:17px;margin-right:17px;background:#FFFFFF;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;}
.myHome_h5 .h5_left {margin-top:15px;margin-left:15px;}
.myHome_h5 .h5_dis {
   width:54px;
   font-size:60px;
   text-align:center;
}
.myHome_h5 .vip {margin-top:6px;width:50px;height:19px;margin-left:2px;text-align:center;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.myHome_h5 .vip span {font-size:12px;color:#FFFFFF;line-height:19px;}
.myHome_h5 .h5_right {width:70%;margin-top:22px;margin-left:15px;}
.myHome_h5 .h5_right h3 {font-size:14px;color:#2F2E2E;font-weight:bold;margin-bottom:9px;}
.myHome_h5 .h5_grow {margin-bottom:6px;}
.myHome_h5 .h5_grow span {font-size:12px;color:#979797;}
.myHome_h5 .h5_drag {width:80%;height:8px;background:#F9F8F6;border-radius:100px;margin-bottom:8px;}
.myHome_h5 .h5_drag_bg {width:50%;height:8px;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;}
.myHome_h5 .h5_bottom code {font-size:0px;}
.myHome_h5 .h5_bottom code .h5_sp1,.myHome_h5 .h5_bottom code .h5_sp2 {display:inline-block;margin-right:5px;width:7px;height:13px;font-size:16px;}
.myHome_h5 .h5_bottom code .h5_sp2 {color:#F9F8F6;}
.myHome_h5 .jin_vip .vip,.myHome_h5 .jin_vip .h5_drag_bg {background:#FFAC00;}
.myHome_h5 .jin_vip .h5_bottom code .h5_sp1, .myHome_h5 .jin_vip .h5_dis {color: #FFAC00;}
.myHome_h5 .yin_vip .vip,.myHome_h5 .yin_vip .h5_drag_bg {background:#d4d4d4;}
.myHome_h5 .yin_vip .h5_dis, .myHome_h5 .yin_vip .h5_bottom code .h5_sp1 {color: #d4d4d4;}
.myHome_h5 .baijin_vip .vip,.myHome_h5 .baijin_vip .h5_drag_bg {background:#D8C8B5;}
.myHome_h5 .baijin_vip .h5_dis,.myHome_h5 .baijin_vip .h5_bottom code .h5_sp1 {color:#D8C8B5;}
.myHome_h5 .zs_vip .vip,.myHome_h5 .zs_vip .h5_drag_bg {background:#9DA9D8;}
.myHome_h5 .zs_vip .h5_dis,.myHome_h5 .zs_vip .h5_bottom code .h5_sp1 {color:#9DA9D8;}
.myHome_h5 .e_vip .h5_drag_bg {background:#4B8FE0;}
.myHome_h5 .e_vip .h5_dis,.myHome_h5 .e_vip .vip,.myHome_h5 .e_vip .h5_bottom code .h5_sp1 {color:#4B8FE0;}
.myHome_h5 .h5_bottom > span {font-size:10px;color:#535353;}
.h5_back {position:absolute;top:50%;margin-top:-6px;right:10px;color:#90704D;}
.h5_main_header p {font-size:12px;color:#FFFFFF;line-height:35px;text-align:center;}
.h5_main_header p.avalibleDate{line-height:12px;color:rgba(255,255,255,0.65);}
.myHome_h5 .h5_money_box {margin-top:28px;position:relative;}
.myHome_h5 .h5_my_money {position:absolute;width:90px;top:-8px;left:50%;margin-left:-45px;background:#fff;text-align:center;}
.myHome_h5 .h5_my_money a,.myHome_h5 .h5_my_juan a {color:#90704D;font-size:20px;}
.myHome_h5 .h5_my_money > span,.myHome_h5 .h5_my_juan > span {font-size:12px;color:#90704D;position:relative;top:-4px;}
.myHome_h5 .h5_money_box ul {margin-left:17px;margin-right:17px;border:1px solid #D4D4D4;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.myHome_h5 .h5_money_box ul li {float:left;margin-top:10px;margin-bottom:10px;width:25%;text-align:center;border-right:1px solid #d4d4d4;color:#535353;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.myHome_h5 .h5_money_box ul li a {display:block;color:#535353;}
.myHome_h5 .h5_money_box ul li span {display:block;}
.myHome_h5 .h5_money_box ul li .h5_money {display:block;height:18px;font-size:16px;line-height:18px;color:#c0191f;}
.myHome_h5 .h5_money_box ul li .h5_con {display:block;height:18px;font-size:12px;line-height:18px;}
.myHome_h5 .h5_money_box ul li.h5_last {border:none;}
.myHome_h5 .h5_money_box .h5_my_juan {position:absolute;width:90px;top:77px;left:50%;margin-left:-45px;background:#fff;text-align:center;}
.myHome_h5 .h5_money_box .h5_ul_juan {margin-top:28px;}
.myHome_h5 .h5_money_box .h5_ul_juan li {float:left;width:33.333333333%;text-align:center;border-right:1px solid #d4d4d4;margin-top:11px;margin-bottom:9px;color:#535353;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.myHome_h5 .h5_list ul {margin-left:17px;margin-right:17px;}
.myHome_h5 .h5_list ul li {margin-top:8px;background:#FFFFFF;border:1px solid #D4D4D4;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.myHome_h5 .h5_list ul li a {position:relative;display:block;}
.myHome_h5 .h5_list ul li a .left_con {font-size:14px;color:#535353;line-height:45px;display:inline-block;padding-left:12px;}
.myHome_h5 .h5_list ul li a .right_con {font-size:16px;color:#90704D;position:absolute;right:12px;top:50%;margin-top:-7px;}
.myHome_h5 .h5_footer {width:63%;height:38px;margin:40px auto 0;padding-bottom:42px;}
.myHome_h5 .h5_footer a {display:block;height:38px;font-size:16px;color:#979797;line-height:38px;;background:#F9F8F6;border:1px solid #D4D4D4;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
/*订单详情*/
.h5_orderDetial .h5_box {position:relative;margin:17px 17px 0px 17px;background:#FFFFFF;border:1px solid #D4D4D4;border-radius:5px;}
.h5_orderDetial .h5_box ul {margin:0px 13px;}
.h5_orderDetial .h5_box ul li.h5_border {border-bottom:1px dashed #D4D4D4;position:relative;}
.h5_orderDetial .h5_box li {position:relative;}
.h5_orderDetial .h5_box li strong {font-family:Arial;font-size:13px;color:#979797;line-height:44px;font-weight:normal;}
.h5_orderDetial .h5_box li p {margin-right:20px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;font-size:14px;line-height:25px;}
.h5_orderDetial .h5_box li .h5_p1 {padding-top:6px;}
.h5_orderDetial .h5_box li .h5_p1 a {position:static;font-weight:bold;color:#90704D;}
.h5_orderDetial .h5_box li .h5_p2 {font-family:Arial;color:#535353;padding-bottom:9px;}
.h5_orderDetial .h5_box li a {color:#90704D;position:absolute;right:0px;top:50%;margin-top:-7px;font-size:15px;}
.h5_orderDetial .h5_box .h5_padding_top {padding-top:5px;}
.h5_orderDetial .h5_box .h5_padding_bottom {padding-bottom:5px;}
.h5_orderDetial .h5_box li span {float:left;width:25%;display:inline-block;font-family:ArialMT;font-size:14px;color:#979797;line-height:30px;text-align:right;}
.h5_orderDetial .h5_box li div {float:left;margin-left:5%;width:70%;font-family:ArialMT;font-size:14px;color:#535353;line-height:30px;}
.h5_orderDetial .h5_box li .h5_color {float:right;font-family:Arial;font-size:14px;color:#C0191F;line-height:30px;text-align:right;}
.h5_orderDetial .h5_box li .h5_apliay {float:right;font-family:Arial;font-size:16px;color:#535353;line-height:38px;width:auto;}
.h5_orderDetial .h5_box li .h5_count {float:right;font-family:Arial;font-weight:bold;font-size:16px;color:#C0191F;letter-spacing:0;line-height:38px;width:auto;margin-left:5px;}
.h5_orderDetial .h5_btn {padding:17px;margin-bottom:40px;}
.h5_orderDetial .h5_btn a {width:100px;height:38px;background:#F9F8F6;border:1px solid #D4D4D4;text-align:center;line-height:38px;font-size:16px;color:#979797;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
.h5_orderDetial .h5_btn a.h5_active {border:0 none;width:102px;height:40px;line-height:40px;background:#C0191F;color:#fff;}
.h5_orderDetial .h5_btn a.h5_active.focus {background:#CD474C;color:#ffffff;}
/*选择省市*/
.bg_white {background:#fff;}
.bg_white .h5_main .province_choose,.bg_white .h5_main .city_choose,.bg_white .h5_main .district_choose {background:#fff;}
.h5_header_right {position:absolute;right:20px;top:0;line-height:45px;font-size:13px;color:#FFF5F6;}
.city_list {margin-bottom:40px;}
.city_list a {position:relative;display:block;padding:0 10px;line-height:45px;font-size:16px;color:#535353;}
.city_list a.no_border {border-bottom:0 none;}
.city_list a p {position:relative;padding-left:5px;border-bottom:1px solid #d4d4d4;}
.city_list a.cur {background:#FFF5F6;}
.city_list a code {position:absolute;right:0;top:50%;margin-top:-8px;width:15px;height:15px;line-height:18px;font-size:18px;color:#90704D;}
.city_list a code.yes {display:none;color:#C0191F;}
.city_list a.cur code.yes {display:block;}
/*常用地址*/
.box_style {margin:15px 15px 0;background:#FFFFFF;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.address_list .item .info {position:relative;margin:0 15px;padding:10px 0;border-bottom:1px dashed #D4D4D4;}
.address_list .item a.set_default,.address_list .item a.icon_default {position:absolute;top:50%;right:0px;margin-top:-12px;height:24px;line-height:24px;}
.address_list .item a.icon_default {padding:0 6px;border:1px solid #C0191F;border-radius:100px;height:22px;line-height:22px;text-align:center;cursor:default;background:#fff;color:#C0191F;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.address_list .item a.set_default {font-size:14px;color:#90704D;}
.address_list .item .info a.set_default code {position:relative;top:2px;font-size:18px;}
.address_list .item .text {margin-right:75px;}
.address_list .item .text h3 {line-height:23px;font-size:14px;color:#535353;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.address_list .item .text h3 span {margin-right:15px;}
.address_list .item .text p {height:19px;line-height:19px;font-size:12px;color:#979797;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.address_list .li3{border-top: 1px solid #D4D4D4;width:100%;margin-top:10px;padding-top:10px;}

.address_list .li3 .act {}
.btn_gray {padding:0 16px;height:36px;border:1px solid #D4D4D4;line-height:36px;background:#F9F8F6;font-size:16px;color:#979797;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.btn_red {padding:0 16px;height:36px;border:1px solid #C0191F;line-height:36px;background:#C0191F;font-size:16px;color:#fff;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.address_list .item a.add {position:relative;display:block;padding-left:48px;height:43px;line-height:43px;font-size:14px;color:#90704D;}
.address_list .item a.add code {position:absolute;left:12px;top:50%;margin-top:-12px;width:25px;height:25px;font-size:20px;line-height:25px;color:#90704D;}

/*酒店收藏*/
.main_list{margin:15px 15px 0px 15px;background: #FFFFFF;border: 1px solid #D4D4D4;border-radius: 5px;padding:10px;position:relative;}
.main_list .li1{width:70%}
.main_list .li1 .item1 {width: 68px;height: 61px;}
.main_list .li1 .item1 img {height: 100%;width: 100%;background-size: 100% 100%;-webkit-border-radius: 5px;border-radius: 5px;}
.main_list .li1 .item2 {width: 60%;padding-left: 12px;}
.main_list .li1 .item2 .p1{font-size: 15px;margin-top:2px;font-weight:bold;width:100%;word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow : ellipsis;
    display:inline-block;
    color:#2F2E2E;
    height:16px;
    line-height:16px;
}
.tabs_style a.cur {
    font-weight: bold;
    color: #c0191f;
}
.main_list .li1 .item2 .p2{ margin-top:2px;height:22px;}  
.main_list .li1 .item2 .p2 div{display:inline-block;}   
.main_list .li1 .item2 .p2 span {font-size: 14px;letter-spacing: -0.68px;color: #90704D;text-align: center;line-height:20px}
.main_list .li1 .item2 .p2 .span2 {font-size: 16px;line-height:20px}
.main_list .li1 .item2 .p2 .div1 .span1 {font-size: 12px;color: #979797;line-height:20px}
.main_list .li1 .item2 .p2 .div1 .span5 {font-size: 12px;color: #979797;line-height:20px;display:inline-block;margin-left:1px;}
.main_list .li1 .item2 .p2 .div1 .span6 {font-size: 13px;color: #979797;line-height:20px;}
.main_list .li1 .item2 .p2 .div2{position:relative;top:1px;}
.main_list .li1 .item2 .p2 .div2 .span3 {font-size: 12px;color: #979797;line-height:20px;margin-left:10px;display:inline-block;}
.main_list .li1 .item2 .p3 {font-size: 12px;color: #979797;height:12px;line-height:18px;letter-spacing: -0.58px;}
.main_list .li1 .item2 .p4{padding-top:10px;height:17px;} 
.main_list .li1 .item2 .p4 span{box-sizing:border-box;padding:1px;display:inline-block;border:1px solid #FD6D00;color: #FD6D00;font-size:12px;border-raidus:5px;-webkit-border-radius:5px;}
.main_list .li1 .item2 .p4 span.zt{color:#4B8FE0;border-color:#4B8FE0;}
.main_list .li1 .item2 .p4 .zero_tip{box-sizing:border-box;padding:0px 7px;display:inline-block;border:1px solid #FD6D00;color: #FD6D00;font-size:10px;border-raidus:3px;-webkit-border-radius:3px;line-height:17px;;}

.main_list .li2{width:28.3%;height:70px;position:absolute;right:3.6%;top:-5px;}
.main_list .li2 p{text-align: right;color:#c0191f;margin-top:30px;}
.main_list .li2 p span{font-size:12px;position:relative;top:5px;}
.main_list .li2 p span:first-child{right:-4px;}
.main_list .li2 p strong{font-size:20px;font-weight:bold;position:relative;top:5px;}

/*编辑常用地址*/
.address_edit_list .item {position:relative;height:45px;line-height:45px;border-bottom:1px solid #D4D4D4;background:#fff;}
.address_edit_list .item input {width:100%;height:45px;line-height:21px;padding:12px 20px;font-size:14px;color:#535353;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.address_edit_list .item a {display:block;}
.address_edit_list .item .like_input {display:block;width:100%;height:45px;line-height:21px;padding:12px 20px;font-size:14px;color:#535353;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.address_edit_list .item .like_input.has {color:#535353;}
.address_edit_list .item code,.address_edit_list .item a.del {position:absolute;right:16px;top:50%;margin-top:-8px;width:15px;height:15px;line-height:18px;font-size:18px;color:#90704D;text-align:right;}
.address_edit_list .item a.del {font-size:12px;color:#979797;}
.btn_sure {display:block;margin:20px auto;width:70.15%;height:40px;line-height:40px;font-size:15px;color:#FFFFFF;background:#C0191F;text-align:center;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.btn_total.focus,.btn_total.hover {background:#CD474C;color:#ffffff;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color:#d4d4d4;}
input:-moz-placeholder,textarea:-moz-placeholder {color:#d4d4d4;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color:#d4d4d4;}
.mask {display:none;position:fixed;z-index:100;bottom:0;left:0;right:0;top:0px;background:rgba(0,0,0,0.3);background:#000\9;filter:alpha(opacity=30);/*IE*/}
.pop_mask {position:fixed;z-index:100;bottom:0;left:0;right:0;top:0px;background:rgba(0,0,0,0.3);background:#000\9;filter:alpha(opacity=30);/*IE*/}
.mask2 {display:none;position:fixed;z-index:100;bottom:0;left:0;right:0;top:0px;background:rgba(0,0,0,0.3);background:#000\9;filter:alpha(opacity=80);/*IE*/}
.pop_set {display:none;position:fixed;z-index:110;top:50%;left:50%;width:250px;background:rgba(0,0,0,0.8);background:#000\9;filter:alpha(opacity=80);text-align:center;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.pop_set h3 {padding:28px 18px;text-align:center;font-size:14px;color:#FFFFFF;line-height:30px;}
.pop_set .btn {height:45px;line-height:45px;border-top:1px solid #535353;font-size:0;}
.pop_set .btn a {display:inline-block;width:50%;text-align:center;font-size:14px;color:#FFFFFF;}
.pop_set .btn a.pop_close {border-left:1px solid #535353;color:#979797;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
/*发票信息*/
.ticket_con .tabs a {float:left;width:50%;height:45px;border-bottom:1.5px solid #D4D4D4;line-height:45px;font-size:14px;color:#535353;text-align:center;}
.ticket_con .tabs a.cur {border-bottom-color:#C0191F;color:#C0191F;}
.ticket_con .tabs a.disabled{color:#d4d4d4;}
.ticket_con .ticket_form {margin-top:10px;border-top:1px solid #D4D4D4;border-bottom:1px solid #D4D4D4;background:#fff;}
.ticket_con .tabs_con {margin-top:0;/*border-bottom:1px solid #D4D4D4;*/background:#fff;}
.ticket_con .tabs_con .con {display:none;}
.ticket_con .tabs_con .con.cur {display:block;}
.ticket_con .item {margin:0 10px;padding-left:10px;line-height:45px;border-bottom:1px solid #d4d4d4;}
.ticket_con .click_add{position:relative}
.ticket_con .item.no_border {border:0 none;}
.ticket_con .item label {float:left;width:40%;font-size:14px;color:#979797;}
.ticket_con .item input,.ticket_con .item a.ticket_address_choose {position:relative;display:block;margin-left:40%;width:60%;height:25px;padding:10px 0;line-height:25px;font-size:14px;color:#535353;}
.ticket_con .item a.ticket_address_choose span{display:block;margin-right:15px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ticket_con .item a code {position:absolute;right:0px;top:50%;margin-top:-8px;width:15px;height:15px;line-height:18px;font-size:18px;color:#90704D;text-align:right;}
.ticket_con .item .readonly {display:block;margin-left:40%;width:60%;height:25px;padding:10px 0;line-height:25px;font-size:14px;color:#2f2e2e;}
.ticket_con .tabs_con .con.spe .item label {width:42%;}
.ticket_con .tabs_con .con.spe .item input {margin-left:42%;width:58%;}
.ticket_con .warm_tips {margin-top:15px;line-height:18px;font-size:13px;color:#595757;text-align:center;}
.ticket_con .click_add .iconfont{position:absolute;right:0px;top:0px;color: #90704D;font-size:14px;}
.select_company{background:#fff;display:none;position:fixed;bottom:0px;z-index:120;height:135px;width:100%;}
.select_company h3{text-align:center;font-size: 15px;color: #595757;letter-spacing: 0.43px;background: #F9F8F6;height:45px;line-height:45px;border-bottom: 1px solid #EBEBEB;}
.select_company div{padding:0px 35px;height:45px;line-height:45px;font-size: 16px;color: #232323;border-bottom: 1px solid #EBEBEB;}
.select_company div .iconfont { display: none;}   
.alert_mask{
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,.3);
    background: #000\9;
    filter: alpha(opacity=30);
    display:none;
}
.flag{display:none;line-height:none;height:87px;}
.flag label .label_box{width:70px;font-size:14px;line-height:20px;margin-top:14px;}
.flagNew{line-height:none;height:87px;}
.flagNew label .label_box{width:70px;font-size:14px;line-height:20px;margin-top:14px;}
.ticket_con .flag input{padding:31px 0px;}
.ticket_con .flagNew input{padding:31px 0px;}
/*我的银联卡*/
.address_list .item .bank_name {float:left;width:50%;height:25px;line-height:25px;font-size:14px;color:#535353;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.address_list .item .bank_info {margin-left:50%;text-align:right;line-height:25px;font-size:14px;color:#979797;}
.address_list .item .bank_info .num em {color:#C0191F;}
.address_list .item .bank_info .kind {margin-left:15px;}
.bind_bank_step1 .pwd_init_con .pwd_form {margin:25px 20px 32px;}
.bank_bottom {margin-top:50px;padding:0 36px;}
.bank_bottom .pic {width:50px;}
.bank_bottom .pic img {width:100%;margin-top:4px;}
.bank_bottom .txt {font-size:12px;color:#979797;margin-left:60px;}
.bank_bottom .txt p {font-size:12px;line-height:16px;position:relative;padding-left:14px;margin-bottom:12px;}
.bind_bank_step2 .item {position:relative;margin:0 20px;height:42px;line-height:42px;border-bottom:1px dashed #D4D4D4;font-size:14px;}
.bind_bank_step2 .item.no_border {border-bottom:0 none;}
.bind_bank_step2 .item label {float:left;display:block;width:20%;color:#979797;}
.bind_bank_step2 .item span,.bind_bank_step2 .item input {display:block;margin-left:20%;padding:10px 0;height:42px;width:80%;line-height:22px;font-size:14px;color:#535353;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.bind_bank_step2 .code_box {margin:10px 15px 0;}
.bind_bank_step2 .code_box input {display:block;margin-right:42%;padding:10px 20px;height:45px;width:58%;line-height:25px;border:1px solid #d4d4d4;font-size:14px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.code_box .btn_get_code {width:38%;height:45px;line-height:45px;background:#90704D;float:right;color:#fff;cursor:pointer;font-size:14px;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.code_box .btn_get_code.countdown {background:#d4d4d4;}
/*我的会员卡*/
.my_vip .address_list .item .info {border-bottom:0 none;cursor:default;}
/*我的酒店优惠券*/
.vo_con .vo_num {height:55px;line-height:55px;background:#fff;font-size:13px;color:#535353;text-align:center;}
.vo_con .vo_num span {margin:0 5px;font-family:"Arial";font-size:24px;color:#C0191F;vertical-align:bottom;}
.tabs_style a {position:relative;float:left;width:33.33%;height:50px;line-height:50px;text-align:center;font-size:14px;color:#90704D;}
    .tabs_style a.cur p {
        color: #fff;
        background: #90704D;
        opacity: 0.62;
        border:1px solid rgba(144, 112, 77, 0.62)
    }
    
    .tabs_style a:after {
        content: '';
        position: absolute;
        top: 16px;
        right: 0;
        height: 18px;
        width: 0;
        border-left: 1px solid #d4d4d4;
    }
.home_wallet_con .tabs_style a:after {
    border-left: none;
}
.address_list .item .act {
    padding: 10px 15px;
}
.tabs_style a.last:after {border-left:0 none;}
.tabs_con{margin-top:15px;} 
.tabs_con .con {
    display: none;
}
.tabs_con .con.cur {display:block;}
.vo_con .box_style {display:block;margin:0 15px 15px;height:80px;}
.vo_con .money {float:left;width:80px;height:50px;color:#fff;font-size:17px;text-align:center;background:#c0191f;
	-webkit-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
    padding:15px 0px;
    line-height:50px;
}
.vo_con .money em {font-size:34px;font-weight:bold;}
.vo_con .money b{display:block;width:50px;height:20px;border: 1px solid #FFFFFF;border-radius: 18px;margin:0 auto;margin-top:6px;font-size:12px;font-weight:normal;line-height:20px;}

.vo_con .vo_info {position:relative;margin-right:30px;margin-left:102px;padding:10px 0;height:60px;}
.vo_con .vo_info code {position:absolute;right:-15px;top:50%;margin-top:-8px;width:15px;height:15px;line-height:18px;font-size:18px;color:#90704D;text-align:right;}
.vo_con .vo_info .vo_text {height:60px;}
.vo_con .vo_info .name {font-size:13px;color:#535353;line-height:16px;overflow:hidden;margin-top:3px;}
.vo_con .vo_info .name span {color:#C0191F;}
    .vo_con .vo_info .vo_code {
        left: 0;
        line-height: 16px;
        font-size: 12px;
        color: #979797;
        margin-top:5px;
    }
    .vo_con .vo_info .time {
        left: 0;
        line-height: 16px;
        font-size: 12px;
        color: #979797;
        margin-top: 5px;
    }
/*我的酒店优惠券详情*/
.vo_con_detail {margin:18px 20px;font-size:13px;color:#535353;line-height:20px;}
/*我要充值-发票信息*/
.charge_need_ticket {padding-bottom:20px;}
.charge_need_ticket .btn_sure {margin-bottom:0;}
.h5_header_exp {position:absolute;right:20px;top:0;line-height:45px;font-size:13px;color:#FEF0E5;}
.charge_ticket_info .ticket_con .ticket_form {margin-top:0;border-top:0 none;}
.ticket_con .ticket_form .form_right {margin-left:40%;line-height:45px;}
.like_radio {float:left;font-size:14px;color:#535353;}
.like_radio.last {float:right;}
.like_radio.disabled {color:#d4d4d4;}
.like_radio code {position:relative;font-size:14px;color:#979797;}
.like_radio.check code {color:#90704D;}
.like_radio span em {color:#C0191F;}
.charge_remind .remind_con {padding:18px 20px 20px;}
.charge_remind .remind_con p {font-size:14px;color:#535353;line-height:25px;}
/*支付密码初始化*/
.pwd_init_con .exp_txt {margin:16px 18px;font-size:13px;color:#C0191F;line-height:20px;}
.pwd_init_con .pwd_form .item {margin:15px;}
.pwd_init_con .pwd_form input {width:100%;height:45px;padding:10px 15px;line-height:25px;background:#FFFFFF;border:1px solid #D4D4D4;font-size:14px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pwd_init_con .pwd_form img {float:right;margin-top:8px;width:31.304%;height:30px;}
.pwd_init_con .pwd_form .code_num {display:block;margin-right:35%;width:65%;}
/*支付密码修改*/
.pop_text {display:none;position:fixed;z-index:110;top:50%;left:50%;width:50%;width:216px;padding:10px 17px;background:rgba(0,0,0,0.8);background:#000\9;filter:alpha(opacity=80);text-align:center;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.pop_text p {line-height:30px;font-size:14px;color:#FFFFFF;}
.pop_text p code {position:relative;top:1px;margin-right:5px;font-size:18px;}
/*忘记支付密码*/
.pwd_init_con .pwd_form p.title {margin-bottom:10px;line-height:18px;font-size:14px;color:#979797;}
.pwd_init_con .btn_modify {display:block;margin:0 auto;width:110px;font-size:14px;color:#90704D;text-align:center;}
.pwd_init_con .btn_modify code {position:relative;top:2px;font-size:18px;}
/*我要充值*/
.charge_money h3 {padding:10px 20px 0;line-height:19px;font-size:14px;color:#979797;}
.charge_money .money_ipt {margin-top:8px;height:40px;line-height:40px;font-size:25px;color:#535353;text-align:center;}
.charge_money .money_ipt input {margin-left:2.5%;padding:10px 10px;width:50%;height:40px;border:1px solid #d4d4d4;line-height:20px;background:#fff;font-size:18px;color:#535353;text-align:center;vertical-align:top;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.charge_money .user_exp {margin-top:10px;margin-bottom:25px;line-height:18px;font-size:13px;color:#979797;text-align:center;}
.mt {margin-top:10px;}
.charge_money .bg_white {padding:0 20px;}
.charge_money .bg_white .ticket_title {height:45px;line-height:45px;}
.charge_money .bg_white .ticket_title span {float:left;font-size:14px;color:#979797;}
.charge_money .bg_white .ticket_title a {float:right;font-size:14px;color:#535353;}
.charge_money .ticket_title a code {position:relative;top:2px;margin-left:5px;color:#90704D;font-size:18px;}
.charge_money .ticket_detail {position:relative;padding:8px 0 14px;border-top:1px solid #D4D4D4;font-size:14px;color:#979797;line-height:25px;}
.charge_money .ticket_detail p{min-height:25px;height:expression(this.scrollHeight>25?'25px':'auto')\9;}
.charge_money .ticket_detail p span {float:left;width:24.32%;}
.charge_money .ticket_detail p em {display:block;margin-left:24.32%;color:#535353;}
.charge_money .ticket_detail .btn_modify {position:absolute;right:-5px;bottom:10px;width:58px;height:30px;border:1px solid #90704D;line-height:30px;text-align:center;font-size:14px;color:#90704d;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#FFFFFF;}
.charge_money .ticket_detail p em b {font-weight:normal;color:#C0191F;}
.charge_money .account_detail {padding:10px 0 8px;line-height:25px;font-size:14px;}
.charge_money .account_detail span.name {float:left;color:#979797}
.charge_money .account_detail span.price {float:right;color:#C0191F;}
.charge_money .account_total {height:46px;line-height:46px;border-top:1px solid #d4d4d4;text-align:right;font-size:16px;color:#2F2E2E;}
.charge_money .account_total span {color:#C0191F;font-weight:bold;font-family:"Arial";}
.charge_money .pay_title {padding:16px 0 7px;border-bottom:1px solid #d4d4d4;font-size:14px;line-height:19px;color:#979797;}
.charge_money .pay_item {height:45px;line-height:45px;overflow:hidden;}
.charge_money .pay_item .icon {float:left;margin:7px 0 0 10px;width:30px;height:30px;overflow:hidden;}
.charge_money .pay_item .icon_zhi i {background-position:-63px -60px;position:relative\9;left:-63px\9;top:-60px\9;}
.charge_money .pay_item .icon_bank i {background-position:-98px -60px;position:relative\9;left:-98px\9;top:-60px\9;}
.charge_money .pay_item .icon_wechat i {background-position:-133px -60px;position:relative\9;left:-133px\9;top:-60px\9;}
.my_bg {width:321px;height:230px;background-image:url(../images/public_img.png);background-image:url("")\9;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://images.homeinns.com/image/webH5/public_img.png',sizingMethod='scale');background-size:321px 230px;-webkit-background-size:321px 230px;-moz-background-size:321px 230px;-o-background-size:321px 230px;}
.charge_money .pay_item .text {position:relative;margin-left:55px;height:44px;line-height:44px;border-bottom:1px solid #D4D4D4;font-size:14px;color:#595757;}
.charge_money .pay_item.last {padding-bottom:10px;}
.charge_money .pay_item.last .text {border-bottom:0 none;}
.charge_money .pay_item .text code {display:none;position:absolute;right:0px;top:50%;margin-top:-20px;font-size:20px;color:#C0191F;}
.charge_money .pay_item.cur .text code {display:block;}
.charge_money .agree_sign {margin:20px auto;width:200px;text-align:center;font-size:14px;color:#575757;}
.like_check span {display:inline-block;margin-right:10px;width:17px;height:17px;overflow:hidden;vertical-align:text-bottom;}
.like_check span i {background-position:-102px 0;position:relative\9;left:-102px\9;top:0px\9;}
.like_check.check span i {background-position:-121px 0;left:-121px\9;}
.pop_ticket a.cur span {color:#C0191F;}
.like_check a {color:#575757;}
/*如旅钱包*/
.wallet_total {position:relative;padding:0 15px;height:93px;background:#c0191f;}
.wallet_total .price {float:left;padding-top:11px;height:18px;line-height:18px;font-size:13px;color:#FFFFFF;}
.wallet_total .price a {margin-left:8px;color:#fff;opacity:0.65;filter:Alpha(opacity=65);vertical-align:-2px;}
.wallet_total h3 {
        margin-top: 5px;
        line-height: 42px;
        font-size: 32px;
        font-family: "Arial";
        color: #FFFFFF;
        padding-left: 8px;
    }
    .wallet_total h3 .num_style {
        margin-left:5px;
    }
    .wallet_total .btn {
        float: right;
    }
.wallet_total .btn a {position:absolute;top:50%;right:15px;margin-top:-18px;padding:0 25px;height:33px;line-height:33px;border:1px solid #FFFFFF;font-size:14px;font-weight:bold;color:#fff;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.home_wallet_con .tabs_style a {width:50%;}
.home_wallet_con .box_style {margin:0 15px 15px;padding:0px 13px 0px;height:auto;}
.home_wallet_con .box_style .item {position:relative;padding:10px 0px;border-top:1px dashed #D4D4D4;}
.home_wallet_con .box_style .item.no_border {border:0 none;}
.home_wallet_con .box_style .text {margin-right:40%;line-height:19px;}
.home_wallet_con .box_style .text h4 {font-size:14px;color:#535353;}
.home_wallet_con .box_style .text p {padding-top:3px;font-size:14px;color:#979797;}
    .home_wallet_con .box_style .account {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -10px;
        width: 40%;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: #d3d3d3;
        text-align: right;
    }
.home_wallet_con .box_style .red {color:#C0191F;}
    .home_wallet_con .box_style .green {
        color: #53B300;
    }
.home_wallet_con .box_style .open {margin-left:5px;color:#90704D;}
/*发票管理*/
.my_evaluate .address_list .item .info {position:relative;border-bottom:0 none;}

.address_list .item .icon_turn {position:absolute;top:50%;right:0px;margin-top:-12px;height:24px;line-height:24px;color:#90704d;}
.address_list .item .text .hotel_name {font-size:14px;color:#90704D;font-weight:bold;line-height:23px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.address_list .item .text .hotel_name a {color:#90704D;}
.address_list .item .text .lowest_price {font-size:13px;color:#535353;line-height:23px;}
.address_list .item .text .lowest_price span {margin-left:5px;color:#C0191F;}
/*我的点评*/
.address_list .tabs_style a {width:50%;}
.my_evaluate .box_style {margin:0 15px 14px;}
.no_content {padding:100px 0 150px;text-align:center;}
.no_content img {width:45px;}
.no_content p {padding-top:14px;line-height:18px;font-size:13px;color:#979797;}
.my_evaluate .address_list .item .text {margin-right:20px;}
/*我要点评*/
.want_comment_con {margin:0 20px;padding-bottom:20px;}
.want_comment_con .present {padding:22px 0 15px;height:13px;line-height:13px;border-bottom:1px dashed #d4d4d4;}
.want_comment_con .present .lw {font-size:23px;color:#C0191F;vertical-align:middle;}
.want_comment_con .present span {margin-left:7px;font-size:14px;color:#979797;}
.want_comment_con .present span b {color:#C0191F;font-weight:normal;}
.want_comment_con .present a {float:right;color:#90704D;font-size:20px;vertical-align:middle;}
.want_comment_con .hotel_info {display:block;position:relative;padding:7px 0 10px;border-bottom:1px dashed #d4d4d4;}
.want_comment_con .hotel_info .hotel_name {width:75%;font-size:14px;color:#90704D;font-weight:bold;line-height:25px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.want_comment_con .hotel_info .address {width:75%;font-size:14px;color:#535353;line-height:25px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.want_comment_con .hotel_info .grade {position:absolute;right:0;top:23px;font-size:14px;color:#C0191F;}
.want_comment_con .hotel_info .grade code {position:relative;top:2px;color:#90704d;font-size:18px;}
.want_comment_con .hotel_info .comments_total {margin-top:8px;}
.want_comment_con .hotel_info .goods {float:left;font-size:12px;color:#C0191F;}
.want_comment_con .hotel_info .line {float:left;margin-left:18px;width:0;height:12px;border-left:1px solid #d4d4d4;}
.want_comment_con .hotel_info .kind {float:left;}
.want_comment_con .hotel_info .kind span {float:left;margin-left:18px;font-size:12px;color:#979797;}
.want_comment_con .hotel_info .kind span em {margin-left:2px;}
.want_comment_con .name {margin-top:15px;font-size:14px;color:#979797;}
.want_comment_con .comment_check a {float:left;margin-top:15px;margin-right:14px;width:53px;height:33px;border:1px solid #979797;color:#979797;text-align:center;line-height:33px;background:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.want_comment_con .comment_check a.cur {border:1px solid #C0191F;color:#C0191F;background:#FFF5F6;}
.want_comment_con .comment_check a.last {margin-right:0;}
.want_comment_con .hotel_comment .name {margin-bottom:13px;}
.want_comment_con .hotel_comment .item {margin-bottom:20px;height:20px;line-height:20px;}
.want_comment_con .hotel_comment .item label {float:left;width:75px;font-size:14px;color:#535353;}
.want_comment_con .hotel_comment .item .star {margin:0 70px 0 75px;color:#d4d4d4;}
.want_comment_con .hotel_comment .item .star code {float:left;padding-right:15px;font-size:23px;cursor:pointer;}
.want_comment_con .hotel_comment .item .star code.last {padding-right:0;}
.want_comment_con .hotel_comment .item .star code.cur {color:#FDCF1D;}
.want_comment_con .hotel_comment .item em {float:right;width:70px;font-size:14px;color:#979797;text-align:right;}
.want_comment_con .suggestion textarea {margin-top:10px;padding:10px 14px;width:100%;height:112px;border:1px solid #d4d4d4;font-size:14px;font-family:"Microsoft YaHei";color:#535353;resize:none;outline:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.want_comment .btn_sure {margin-bottom:0;}
/*我的信息*/
.info_con {border-bottom:1px solid #D4D4D4;background:#fff;}
.info_con .item {position:relative;margin:0 10px;border-bottom:1px solid #d4d4d4;}
.info_con .item.no_border {border-bottom:0 none;}
.info_con .item label {float:left;padding-left:5px;width:28%;line-height:44px;font-size:14px;color:#979797;}
.info_con .item .form_right {margin-left:30%;padding:10px 0;line-height:24px;text-align:right;}
.info_con .item code {position:absolute;top:50%;right:0;margin-top:-8px;font-size:18px;color:#90704d;}
.info_con .item .text {display:block;margin-left:29%;padding:12px 0;line-height:20px;min-height:20px;height:20px\9;font-size:14px;color:#535353;text-align:right;}
.info_con .item .text.pwd_modify {height:20px;}
.info_con .item .text span {display:block;margin-right:25px;}
.info_con .item .mr {margin-right:25px;}
.pop_bottom {display:none;position:fixed;z-index:110;left:0;bottom:0;width:100%;background:#fff;}
.pop_bottom h3 {height:45px;line-height:45px;text-align:center;background:#F9F8F6;font-size:15px;color:#595757;}
.pop_bottom a {position:relative;display:block;margin:0 20px;padding-left:15px;height:45px;border-bottom:1px solid #D4D4D4;line-height:45px;font-size:16px;color:#535353;}
.pop_bottom a code {display:none;position:absolute;right:0;top:4px;color:#C0191F;font-size:20px;}
.pop_bottom a.cur code {display:block;}
/*修改密码*/
.pwd_level {margin-top:10px;}
.pwd_level .level,.pwd_level .level_text {font-size:0;}
.pwd_level .level span {display:inline-block;width:33.3333%;height:14px;}
.pwd_level .level span.first {-webkit-border-radius:50px 0 0 50px;-moz-border-radius:50px 0 0 50px;border-radius:50px 0 0 50px;}
.pwd_level .level span.medium {border-left:2px solid #fff;border-right:2px solid #fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.pwd_level .level span.last {-webkit-border-radius:0px 50px 50px 0px;-moz-border-radius:0px 50px 50px 0px;border-radius:0px 50px 50px 0px;}
.pwd_form .pwd_level .level.level1 span,.pwd_form .pwd_level .level.level2 span.medium,.pwd_form .pwd_level .level.level2 span.last,.pwd_form .pwd_level .level.level3 span.last {background:#d4d4d4;}
.pwd_form .pwd_level .level.level2 span.first {background:#C0191F;}
.pwd_form .pwd_level .level.level3 span.first,.pwd_form .pwd_level .level.level3 span.medium {background:#FFDA00;}
.pwd_form .pwd_level .level.level4 span {background:#53B300;}
.pwd_form .pwd_level .level_text span {display:inline-block;margin-top:5px;width:33.333%;line-height:18px;font-size:14px;text-align:center;}
.pwd_form .pwd_text {margin-left:4px;margin-top:5px;font-size:12px;color:#979797;line-height:16px;}
/*修改手机号码*/
.address_edit_list {padding-bottom:10px;}
.old_text {padding:18px 0 7px;height:21px;line-height:21px;text-align:center;font-size:16px;color:#535353;}
.old_text b {margin-left:15px;}
.pwd_init_con .pwd_form input.tel_code {display:block;margin-right:45.1%;width:54.9%;}
.pwd_init_con .pwd_form .btn_get_code {float:right;width:39.42%;height:45px;line-height:45px;text-align:center;background:#90704D;color:#fff;font-size:14px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.pwd_init_con .pwd_form .btn_get_code.countdown {background:#d4d4d4;}
.pwd_init_con .pwd_form .remind_tips {margin-top:12px;padding-bottom:15px;line-height:15px;font-size:12px;color:#535353;text-align:center;}
/*明细查询*/
.info_query .info_con {border-bottom:0 none;}
.info_query .info_con .item {border-bottom:1px solid #F9F8F6;}
.info_query .info_con .item .text {color:#90704D;}
.info_query .pop_bottom a {margin:0;padding-left:0;height:46px;line-height:45px;border-bottom:0 none;text-align:center;color:#535353;}
.info_query .pop_bottom a p {margin:0 15px;height:45px;border-bottom:1px solid #D4D4D4;}
.info_query .pop_bottom a code {display:none;position:absolute;right:0;top:4px;color:#C0191F;font-size:20px;}
.info_query .pop_bottom a.cur {background:#FFF5F6;}
.info_query .pop_bottom a.cur code {display:block;right:30px;}
/*我的碳积分&&我的积分*/
.h5_discount {width:100%;height:55px;line-height:55px;text-align:center;background:#fff;font-size:0;}
.h5_discount span {font-size:13px;color:#535353;vertical-align:middle;}
.h5_discount em {margin:0 15px;font-family:"Arial";font-size:24px;color:#C0191F;vertical-align:middle;}
.h5_discount a {position:relative;top:2px;color:#90704D;font-size:14px;vertical-align:middle;}
.my_point_info .box_style {padding:0px 13px 0px;height:auto;}
.my_point_info .box_style .item {position:relative;padding:10px 0px;border-top:1px dashed #D4D4D4;}
.my_point_info .box_style .item.no_border {border:0 none;}
.my_point_info .box_style .text {margin-right:30%;line-height:19px;}
.my_point_info .box_style .text h4 {font-size:14px;color:#535353;}
.my_point_info .box_style .text p {padding-top:3px;font-size:14px;color:#979797;}
.my_point_info .box_style .account {position:absolute;top:50%;right:0;margin-top:-10px;width:30%;height:20px;line-height:20px;font-size:14px;color:#53B300;text-align:right;}
.my_point_info .box_style .account.reduce {color:#C0191F;}
.my_point_info .no_content {padding-bottom:100px;}
.rule_pop {
    display: none;
    position: fixed;
    z-index: 110;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -65px;
    width: 250px;
    color: #fff;
    height: 125px;
    background: rgba(0,0,0,0.8);
    border-radius: 8px;
}

    .rule_pop h3 {
        padding: 15px 0 0px 20px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        color: #B6A18A;
    }

    .rule_pop p {
        padding: 0 20px 6px;
        font-size: 14px;
        line-height: 30px;
    }

    .rule_pop a {
        width: 100%;
        line-height: 45px;
        text-align: center;
        height: 45px;
        color: #fff;
        font-size: 14px;
        border-top: 1px solid #535353;
        display: block;
        margin-top: 4px;
    }


.rule_pop2 {
    display: none;
    position: fixed;
    z-index: 110;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -65px;
    width: 250px;
    color: #fff;
    height: 174px;
    background: rgba(0,0,0,0.8);
    border-radius: 8px;
}

    .rule_pop2 h3 {
        padding: 18px 0 8px 22px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        color: #B6A18A;
    }

    .rule_pop2 p {
        padding: 0 20px;
        font-size: 14px;
        line-height: 20px;
    }

    .rule_pop2 a {
        width: 100%;
        line-height: 45px;
        text-align: center;
        height: 45px;
        color: #fff;
        font-size: 14px;
        border-top: 1px solid #535353;
        display: block;
        margin-top: 18px;
    }
/*我的订单*/
.my_order .tabs_style a {width:50%;}
.my_order .box_style {margin:0 15px 15px;}
.address_list .item .info {display:block;padding:8px 0 7px;cursor:pointer;}
.address_list .item .info.no_border {border-bottom:0 none;}
.my_order .address_list .item .text p {font-size:13px;}
.address_list .item a.order_success {position:absolute;top:50%;right:0px;margin-top:-12px;height:24px;line-height:24px;font-size:14px;color:#535353;}
.address_list .item .order_his {position:absolute;top:50%;right:0px;margin-top:-12px;height:24px;line-height:24px;font-size:15px;color:#979797;}
.address_list .item a.order_success code {color:#90704d;}
.my_order .address_list .item .text .lowest_price {line-height:25px;}
.address_list .item .selfChooseRoom {
     border-bottom: 1px dashed #D4D4D4;
     height:46px;
     line-height:46px;
     margin:0 15px;
     color:#979797;
     font-size:14px;
}
    .address_list .item .selfChooseRoom .goChoose {
        color: #979797;
        font-size: 14px;
    }
.address_list .item .selfChooseRoom .rightPart{
    color:#90704D;
}
.address_list .order_status {position:absolute;bottom:7px;right:0px;height:50px;font-size:13px;line-height:25px;text-align:right;}
.address_list .order_status .status {color:#979797;}
.address_list .order_status .price {color:#C0191F;}
.error_pop {display:none;position:fixed;z-index:110;top:50%;left:50%;width:216px;padding:10px 17px;background:rgba(0,0,0,0.8);background:#000\9;filter:alpha(opacity=80);text-align:center;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.error_pop p {line-height:30px;font-size:14px;color:#FFFFFF;}
/*页面布局*/
.info_pwd_modify,.info_tel_modify,.info_email_modify,.info_address_modify,.info_post_modify,.ticket_info,.wallet_pwd_modify,.wallet_pwd_init,.wallet_pwd_forget,.my_vo_detail,.person_add,.person_edit,.address_add,.address_edit,.province_choose,.city_choose,.district_choose,.bind_bank_step1,.bind_bank_step2,.info_query,.charge_remind,.charge_ticket_info,.date_box_choose,.want_comment {-webkit-overflow-scrolling:touch;position:fixed;overflow-y:auto;top:0;bottom:0;width:100%;height:100%;z-index:50;left:200%;background-color:#f9f8f6;}
.date_box_choose.bg_white,.want_comment.bg_white {background:#fff;}
.main_pc {display:block;}
#h5Main {display:none;}
.address_list,.vo_con{padding-bottom:20px;}
.dropload-down,.dropload-nodata {position:relative;height:50px;overflow:hidden;line-height:40px;text-align:center;font-size:14px;color:#979797;-webkit-transform:translateZ(0);transform:translateZ(0);}
.dropload-load .loading {display:inline-block;height:15px;width:15px;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;margin:6px;border:2px solid #666;border-bottom-color:transparent;vertical-align:middle;-webkit-animation:rotate 0.75s linear infinite;animation:rotate 0.75s linear infinite;}
@-webkit-keyframes rotate {0% {-webkit-transform:rotate(0deg);}
	50% {-webkit-transform:rotate(180deg);}
	100% {-webkit-transform:rotate(360deg);}
}
@keyframes rotate {0% {transform:rotate(0deg);}
	50% {transform:rotate(180deg);}
	100% {transform:rotate(360deg);}
}
@media screen and (min-width:320px) and (max-width:1000px) {.main_pc {display:none;}
	#h5Main {display:block;}
	body {position:relative;font-family:"Helvetica";background:#f9f8f6;}
}
@media screen and (min-width:320px) and (max-width:374px) {.want_comment_con .hotel_info .line {margin-left:7px;}
	.want_comment_con .hotel_info .kind span {margin-left:7px;}
	.want_comment_con .hotel_comment .item .star code {padding-right:5px;}
	.want_comment .rule_pop .rule_act {bottom:20px;}
	.ticket_con  .like_radio{float:none;padding:10px 0 0 0;line-height:25px;}
	.ticket_con .like_radio.last{padding:0 0 10px 0;}
   .main_list .li1 .item2 .p2 .div1{
      position:relative;
      top:-5px;
   }
    .main_list .li1 .item2 .p2 .div2 {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width:40%;
  
      }
    .main_list .li1 .item2 {width: 56%;padding-left: 12px;}
    
}
/*积分*/
.vo_con_hkl {
    height: 93px;
    width: 100%;
    border-top: 1px solid #fff;
    background: #C0191F;
    position:relative;
}
    .vo_con_hkl h5 {
        margin: 12px 0px 10px 15px;
        color: #fff;
        font-size: 13px;
    }
    .vo_con_hkl p {
        color: #fff;
        font-size: 32px;
        margin-left: 15px;
    }
    .vo_con_hkl a {
        color: #fff;
        font-size: 16px;
        position:absolute;
        display:inline-block;
        height:35px;
        line-height:35px;
        width:113px;
        text-align:center;
        border:1px solid #fff;
        border-radius:35px;
        top:29px;
        right:15px;
    }
    .vo_con_hkl h5 code{
        margin-left:9px;
    }
.center_hkl_jiabin {
    padding-left: 4%;
    padding-right: 4%;
    width: 92%;
    background: #fff;
}
.center_hkl_subbrand {
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
    background: #fff;
    border-radius: 4%;
    box-shadow: 0px 0px 18px #b3b3b3;
    margin-top: 14px;
}
    .center_hkl_subbrand img {
        height: 123px;
        width: 143px !important;
        margin: 0 auto;
    }
    .center_hkl_subbrand p {
        font-size: 13px;
        color: #333333;
        line-height: 26px;
        text-indent: 2em;
        padding-left: 5%;
        padding-right: 4%;
        padding-bottom: 28px;
        letter-spacing: 1px;
    }
.swiper-no-swiping .yun {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #5b3a00;
    text-align:center;
    font-size:18px;
    margin-top:30px;
}
.center_hkl_jifen {
    padding-left: 4%;
    padding-right: 4%;
    width: 92%;
    background: #fff;
}
    .center_hkl_jifen h5 {
        font-size: 13px;
        color: #90704D;
        padding-top: 14px;
        padding-bottom: 6px;
    }
    .center_hkl_jifen .small_hkl img {
        margin-left: 3%;
        width: 30%;
        height: 30%;
        border: 1px solid #d8d8d8;
        float:left;
    }
    .center_hkl_jifen .tui_hkl img {
        margin-left: 4%;
        width: 48%;
        height: 30%;
        margin-bottom: 15px;
        float: left;
    }
    .center_hkl_jifen .small_hkl .left_hkl {
        margin-left: 0px;
    }
    .center_hkl_jifen .tui_hkl .left_hkl {
        margin-left: 0px;
    }
.center_hkl_jifen .huise_hkl {
    background: #F9F8F6;
    height: 10px;
}
    .center_hkl_jifen .zhuan_hkl img {
        width: 100%;
        height: 30%;
        margin-bottom: 15px;
    }

.score_hkl {
    width: 66.666%;
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding-top: 19px;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -92px;
    margin-left: -33.333%;
    z-index: 2222;
    display: none;
}
.score_hkl_main {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.3;
    z-index: 99;
    top:0;
    display:none;
}
.score_hkl h5 {
    font-size: 14px;
    color: #fff;
    padding-bottom: 7px;
    line-height: 22px;
    margin-left: 20px;
    margin-right: 20px;
}

.score_hkl p {
    font-size: 14px;
    color: #fff;
    height: 45px;
    line-height: 45px;
    margin-top: 8px;
    border-top: 1px solid #535353;
}

.swiper-wrapper .swiper-slide a img {
    opacity: 0.5;
}

.swiper-wrapper .swiper-slide-active a img {
    opacity: 1;
}
.swiper-container {
    margin: 0!important;
    padding: 20px 0;
}
/*红包*/
.stored_val {
    width: 100%;
    height: 67px;
    border-bottom: 2px solid #F0F0F0;
}
    .stored_val .stored_avtion{
        border-bottom: 2px solid #C0191F;
    } 
    .stored_val div {
        width: 27%;
        height: 67px;
        position: absolute;
    }
    .stored_val .stored {
        left:13.5%;
    }
        .stored_val .stored p, .stored_val .envelopes p {
            color: #535353;
            font-size: 14px;
            text-align: center;
            margin-top: 15px;
        }
            .stored_val .envelopes p a {
                color: #90704D;
                margin-left: 5px;
                position: absolute;
                opacity: 0.62;
                font-size:16px;
            }
    .stored_val .stored span, .stored_val .envelopes span {
        color: #C0191F;
        font-size: 18px;
        text-align: center;
        margin-top: 8px;
        display: block
    }
    .stored_val .envelopes {
        right: 13.5%;
    }
.tabs_val{
    display:none;
}
.tabs_bloak {
    display:block;
}
.tabs_val .tabs_style a{
    height:73px;
} 
.tabs_style a p {
    width: 83%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #B9A58E;
    border: 1px solid #B9A58E;
    margin-left: 10.6%;
    margin-top: 20px;
    border-radius: 35px;
}
.title_info{padding:15px 20px 0px;}
    .title_info h3 {
        color: #979797;
        font-size:14px;
        line-height:25px;
    }
    .title_info li {
        color: #979797;
        font-size: 14px;
        line-height: 25px;
    }
        .title_info li .sp2 {
            color: #7E5D3A;
            font-size: 14px;
            line-height: 25px;
        }
        