@charset "UTF-8";
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.select-email{
    margin: 15px 0 0 7.6%;
    font-size: 12px;
    color: #979797;
    cursor:pointer;
}
.select-email strong{
    font-weight:normal;
    font-size:16px;
    margin-left: 5px;
    vertical-align: -2px;
}
.select-email-info{
    /*display:none;*/
}
.reg_main1200 {
  margin: 0 auto;
  width: 1180px; }

.py_nav li {
  margin: 0px 27px; }

body {
  height: 100%;
 }
.my-modal {
  display: none; }
  .my-modal .my-modal-bg {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0.7;
    filter: Alpha(Opacity=70);

  }
  .my-modal .my-modal-alert {
    width: 68%;
    height: 146px;
    border-radius: 15px;
    position: absolute;
    top: 62px;
    left: 19.866%;
    background-color: #ffffff;
    z-index: 9999; }
    .my-modal .my-modal-alert p {
      text-align: center;
      margin-top: 44px;
      line-height: 30px;
      font-size: 18px;
      color: #2f2e2e; }
    .my-modal .my-modal-alert .close {
      position: absolute;
      right:1.333%;
      top: 1.333%;
      font-size: 20px; }

.provisions {
  background-color: #f9f8f6; }
  .provisions h1 {
    font-size: 18px;
    margin: 20px 5.333%;
    text-align: center;
    color: #535353;
    font-weight: bold; }
  .provisions .provisions-text {
    width: 90.666%;
    margin: 25px 0 0 4.666%;
    line-height: 25px;
    font-size: 15px;
    color: #535353; }
    .provisions .provisions-text h2 {
      font-size: 16px;
      font-weight: bold;
      color: #535353;
      line-height: 30px }
    .provisions .provisions-text .magin-bottom-60 {
      margin-bottom: 30px }

.nouser-body {
    width:100%;
  background-color: #ffffff; 
  box-sizing:inherit
}
  .nouser-body .real-name{
      position:relative;
      margin:0 5%;
      border-bottom:1px solid #d4d4d4;
  }
   .nouser-body .real-name .iconfont{  
       position: absolute;
      top: 15px;
      left: 1.5%;
      font-size: 18px;  
      color: #D4D4D4;}
  .nouser-body .real-name input {
    border: 1px solid #aeaeae;
    width: 91%;
    height: 24px;
    line-height:24px;
    border-radius: 5px;
    font-size: 14px;
    color: #535353;
     padding:12px 0;
    padding-left: 9%;
   
    margin:0;
    border:none;
    box-sizing:content-box
  }
    .nouser-body .input_color {
        width:62.7%;
        margin:0 auto
    }
    .nouser-body .input_color input {
        width:100%;
        font-size:16px;
        color:#ffffff;
        text-align:center;
        line-height:40px;
        display:block
    }
  .nouser-body .agree {
      overflow:hidden;
    margin: 15px 5%;
    font-size: 0; }
    .nouser-body .agree .agree-icon {
        float:left;
      display: inline-block; }
      .nouser-body .agree .agree-icon .agree-icon-on {
        font-size: 12px;
        color: #c0191f;
        display:block;
      }
      .nouser-body .agree .agree-icon .agree-icon-no {
        font-size: 12px;
        color: #c0191f;
        display: none; }
    .nouser-body .agree p {
        float:left;
      display: inline-block;
      margin-left: 1.73%;
      margin-top:0 !important;
      font-size: 12px;
      color: #979797; }
      .nouser-body .agree p a {
        color: #90704d; }
  .nouser-body form {
    margin-top: 0px; }
  .nouser-body form #errorMsg #btnRegH5{
        margin-bottom: 234px;
        border: none;
        width: 84%;
        height: 40px;
        margin: 16px 0 0 8%;
        border-radius: 5px;
        background-color: #ca1019;
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        line-height: 40px;
  }
    .nouser-body form input {
        width:60%;
        padding-left:3.7%;
      border-radius: 5px;
      border: 1px solid #aeaeae;
      line-height:45px;
      height: 49px;
      font-size: 14px;
      color: #979797; }
    .nouser-body form .no-phone {
      margin: 15px 0 0 8%;
      position: relative; }
      .nouser-body form .no-phone .width-230 {
        display: inline-block;
        width: 30.6%;
        padding-left: 2.4%;
        color: #2f2e2e; }
      .nouser-body form .no-phone .width-391 {
        display: inline-block;
        width: 52.133%;
        padding-left: 6.8%; }
      .nouser-body form .no-phone .down {
      
        position: absolute;
        left: 25.333%;
        top: 11px;
        color: #d4d4d4; }
      .nouser-body form .no-phone .select {
        display: none;
        position: absolute;
        top: 40px;
        width: 30.666%;
        height: 80px;
        background-color: yellow; }
    .nouser-body form p {
      margin: 15px 0 0 7.6%;
      font-size: 12px;
      color: #979797; }
    .nouser-body form .no-dynamic {
      position: relative;
      margin: 0 5%;
      border-bottom: 1px solid #d4d4d4;
    }
    
   .nouser-body form .no-dynamic .iconfont{
        position: absolute;
      top: 16px;
      left: 1.5%;
      font-size: 18px;
      color: #D4D4D4;
       }
      .nouser-body form .no-dynamic .width-365 {
        display:block;
        line-height:23px;
        width:91%;
        height:24px;
        line-height:24px;
        color:#535353;
        padding:12px 0;
        padding-left: 9%;
        border:none !important;
        box-sizing:content-box
        
      }
      .nouser-body form .no-dynamic .get-code {
        display:block;
        position:absolute;
        right:0;
        top:5px;
        width: 32.8%;
        height: 40px;
        line-height: 40px;
        border:1px solid #90704D;
        background-color: #ffffff;
        font-size: 14px;
        text-align: center;
        border-radius: 5px;
        margin-left:2.666%;
        color: #90704D; }
    .nouser-body form button {
      width: 84%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin: 45px 0 233px 8%;
      border: none;
      border-radius: 5px;
      background-color: #ca1019; }


     .nouser-body form  #btnReg {
      width:84%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin: 45px 0 233px 8%;
      border: none;
      border-radius: 5px;
      background-color: #ca1019;
      color:#ffffff
     }
      .nouser-body form .no-dynamic .verification
      {
            font-size: 14px;
            width: 93px;
            height: 38px;
            position:absolute;
            margin-left: 0 !important;
            right:0;
            top:6px;
            background:none !important;
            vertical-align: top;
            background-color: #edefed;
            border-radius: 5px;
      }
       .nouser-body form .no-dynamic .verification img{
             width: 100%;
             height:100%;
       }
      
          line-height: 40px;}
     /*.nouser-body form  #btnLogin {
      width: 6.3rem;
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
      margin: 0.9rem 0 4.67rem 0.6rem;
      border: none;
      border-radius: 0.05rem;
      background-color: #ca1019; }*/


      .nouser-body form button a {
        color: #ffffff;
        font-size: 18px; }

.qq-body, .qq-body-phone {
  background-color: #ffffff; }
  .qq-body .maps div, .qq-body-phone .maps div {
    float:left; }
    .maps{
        margin:0 auto;
        width:196px;
        height:114px;
        margin-top:30px;
        margin-bottom:30px;
        overflow:hidden;
        zoom:1
    }
   
  .qq-body .maps .maps-l, .qq-body-phone .maps .maps-l {
    font-size: 80px;
    color: #2f7bd5;
    margin: 0 0 0 0; }
  .qq-body .maps .maps-l-wechat, .qq-body-phone .maps .maps-l-wechat {
    color: #45a638; }
  .qq-body .maps .maps-l-pay, .qq-body-phone .maps .maps-l-pay {
    color: #1e95d4; }
  .qq-body .maps .maps-l-weibo, .qq-body-phone .maps .maps-l-weibo {
    color: #c0191f; }
  .qq-body .maps .maps-change, .qq-body-phone .maps .maps-change {
    font-size: 36px;
    color: #979797;
    margin: 0 0 0 0px;
    margin-top:33px;
    vertical-align: text-bottom; }
  .qq-body .maps .maps-r, .qq-body-phone .maps .maps-r {
    font-size: 80px;
    color: #c30418;
    margin: 0 0 0 0; }
  .qq-body p, .qq-body-phone p {
    margin-bottom:0;
    width:89%;
    margin:0 auto;
    background:#f9f8f6;
    height:45px;
    line-height:45px;
    margin-top: 1.333%;
    font-size: 14px;
    color: #535353;
    text-align: center; }
  .qq-body a,.qq-body-phone a{text-decoration:none}
  .qq-body a .magin-top-138, .qq-body-phone a .magin-top-138 {
    margin-top: 40px; }
  .qq-body a button, .qq-body-phone a button {
    border: none;
    width: 66.7%;
    margin:0 auto;
    display:block;
    border-radius:5px;
    -webkit-border-radius:5px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    background-color: #ca1019;
    text-align: center;
 }
  .qq-body a .magin-bottom-416, .qq-body-phone a .magin-bottom-416 {
    margin-top:35px; }

.sign-top, .sign-top-phone {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #c0191f;
  color: #ffffff;
  overflow: hidden; }
  .sign-top .turn-back, .sign-top-phone .turn-back {
    float:left;
    margin: 0 0 0 4.5%; 
    width:3.2%;
    font-size:12px;
  }
  .sign-top span, .sign-top-phone span {
    float:left;
    font-size: 18px;
    width:50%;
    text-align:center;
    margin-left:18%; }
  .sign-top .register, .sign-top-phone .register {
    float:right;
    font-size: 14px;
    width:15.6%;
    text-align:center; }
  .register a{color:#ffffff}
  .sign-top .magin-left-213, .sign-top-phone .magin-left-213 {
    margin-left: 28.4% }

.login-form ul {
  font-size: 0; }
  .login-form ul li {
    border: none;
    height: 50px;
    line-height: 50px;
    width: 50%;
    display: inline-block;
    color: #90704d;
    background-color: #F4F1ED;
    font-size: 15px;
    text-align: center; }
  .login-form ul .active {
    font-size: 15px;
    font-weight: bold;
    color: #C0191F;
    background-color: #ffffff; }
.login-form .login-form-info {
  margin-top: 0px; }
  .login-form .login-form-info .login-group {
    font-size: 0;
    height:50px;
    border-bottom:1px solid #d4d4d4;
    position: relative;
    margin: 0 5%; }
    .login-form .login-form-info .login-group .select-sign {
      display: none;
      position: absolute;
      z-index: 1;
      top: 40px;
      width: 32.533%;
      height: 80px;
      background-color: yellow; }
      .login-form .login-form-info .login-group .select-sign p {
        margin: 15px 0 0 7.6%;
        font-size: 12px;
        color: #979797; }
    .login-form .login-form-info .login-group .down {
        display:none;
      position: absolute;
      color: #d4d4d4;
      font-size: 16px;
      left: 1%;
      top: 11px; }
    .login-form .login-form-info .login-group span {
      position: absolute;
      top: 15px;
      left: 1.5%;
      font-size: 18px;
      color: #D4D4D4; }
    .login-form .login-form-info .login-group input {
      padding:0;
      width: 91%;
      display:block;
      height: 24px;
      line-height:24px;
      padding:12px 0;
      font-size: 14px;
      border:none;
      color:#535353;
      padding-left: 9%;
      background:#ffffff;
      box-sizing: content-box;
    }
    .login-form .login-form-info .login-group .width-450 {
      width:60%;
      padding-left: 9%;
      color:#535353;
      float:left;
    }
    .login-form .login-form-info .login-group .width-244 {
      width: 32.53%;
      color: #2f2e2e;
      padding-left: 3.866%; }
    .login-form .login-form-info .login-group .width-366 {
      padding-left: 9%;
      color: #535353; 
    }
    .login-form .login-form-info .login-group .width-365 {
      width: 44.9%;
      float:left;
      padding-left: 9%; }
    .login-form .login-form-info .login-group .dynamic {
        padding:0;
        float:right;
        padding-left:0;
      display: inline-block;
      margin-top: 5px;
      width: 36%;
      background-color: #ffffff;
      font-size: 14px;
      text-align: center;
      height: 40px;
      line-height: 40px;
      color: #90704D;
      border:1px solid #90704D;
      border-radius:5px;
      -webkit-border-radius:5px;
      box-sizing:border-box
    }
    .login-form .login-form-info .login-group .verification {
      font-size: 14px;
      width: 87px;
      height: 38px;
      display: inline-block;
      position:absolute;
      right:0px;top:3px;
      background:none
 }
    .login-form .login-form-info .login-group .verification img{
        width:100%
    }
  .login-form .login-form-info .auto-login {
      margin: 16px 8% 0 5%;
      font-size: 0; 
      overflow:hidden;
      zoom:1
  }
    .login-form .login-form-info .auto-login .auto-login-l {
      font-size: 14px;
      color: #535353;
      float:left;
      height:20px;
      overflow:hidden
    }
      .login-form .login-form-info .auto-login .auto-login-l span {
        color: red;
        font-size: 14px;
        color: #90704D;
        margin-right:0;
        float:left;
        padding-right:0;
        display:none;
         }
      .login-form .login-form-info .auto-login .auto-login-l span.iconfont{margin-top:1px;}
      .login-form .login-form-info .auto-login .auto-login-l .auto-login-l-no {
        
        display: none; }
      .login-form .login-form-info .auto-login .auto-login-l span.active{display:block}
    .login-form .login-form-info .auto-login .auto-login-l-r {
      font-size: 13px;
      color: #2f2e2e; }
      .login-form .login-form-info .auto-login .auto-login-l-r span {
        display: inline-block;
        color: red;
        font-size: 12px;
         }
      .login-form .login-form-info .auto-login .auto-login-l-r .auto-login-l-r-no {
        display: none; }
    .login-form .login-form-info .auto-login .auto-login-r {
        float:right;
        margin-left:0;
        font-size:13px !important;
      }
    .login-form .login-form-info .auto-login .auto-login-r a{
         color: #90704d;
         font-size: 13px;
    }
  .login-form .login-form-info button {
    margin-bottom: 234px;
    border: none;
    width: 84%;
    height: 40px;
    margin: 16px 0 0 8%;
    border-radius: 5px;
    background-color: #ca1019;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 40px; }

    .login-form .login-form-info #btnLogin {
    margin-bottom: 234px;
    border: none;
    display:block;
    width: 62.7%;
    height: 40px;
    line-height:40px;
    margin: 0 auto;
    margin-top: 16px !important;
    border-radius: 5px;
    background-color: #ca1019;
    font-size: 18px;
    color: #ffffff;
    text-align: center; }


.login-form .other-login {
  width: 83.466%;
  border: 1px solid #d4d4d4;
  height: 1px;
  margin: 74px 0 0 8%;
  position: relative; }
  .login-form .other-login span {
      width:136px;
    position: absolute;
    top: -10px;
    left:50%;
    margin-left:-61px;
    display: inline-block;
    font-size: 14px;
    color: #808080;
    padding: 0 10px 0 10px;
    background-color: #ffffff; }
.login-form .other-login-info {
    width:100%;
    padding:0 10%;
  margin-top: 25px;
  overflow:hidden
 }
.other-login-info a{float:left;width:25%;text-align:center}
  .login-form .other-login-info .other-login-info-in {
    display: inline-block;
    color: #90704d;
    font-size: 25px;
    margin:0 auto
     }
.other-login-background {
  background-color: #ffffff;
  overflow: hidden; }
.main_wrap .input_color input{
    color:#ffffff;
    display:block;
    border:none;
    background:#C0191F
}
.login-form .reg_false{width:100%;text-align:center;padding:0;margin:0;}
.main_wrap .reg_false{width:100%;text-align:center;padding:0;margin:0;}

.reg_yzm_click{
    background:#d4d4d4 !important;
    border:1px solid #ffffff !important;
    color:#535353 !important;
}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .reg_main1200 {
    width: 1000px; }
  .main_w1200 {
    width: 1000px; }
  .py_nav {
    padding: 0; }

  .py_nav li {
    margin: 0 24px; }
  .reg_name{
      width:97px;
  }
  .reg_false{
      padding-left:78px
  }
  .bind_false{
      margin-left:98px;
  }
  .bind_boxR{
      margin-left:30px;
  }
}
/* 错误提示弹框 */
.mask {
 position:fixed;
 top:0;left:0;
 width: 100%;
 z-index:9999;
 display: none;
}
.mask_top{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  background:#000;
   opacity: 0.7;
  filter:alpha(opacity=70);   
 -moz-opacity:0.7; 
  
}
#maskContent{
  position: fixed;
  left: 50%;
  top: 50%;
  width:250px;
   height: 50px;
  line-height: 50px;
  margin-left: -125px;
  margin-top:-40px;
  z-index:99999
}
.mask_cont_top{
    width:100%;
    height:50px;
    line-height:50px;
    position:absolute;left:0;top:0;
    background: #000;
    opacity:0.7;
    filter:alpha(opacity=70);   
    -moz-opacity:0.7; 
    z-index:9;
     border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mask_cont{
    position:absolute;
    left:0;top:0;
    width:100%;
    height:50px;
    line-height:50px;
    z-index:999999;
    color:#ffffff;
    font-size: 16px;
    text-align: center;
}
/*找回密码*/
.select_find{padding:15px 12.5% 0 12.5%;}
.select_find .chackbox_find{line-height:21px;overflow: hidden;zoom:1;margin-top:41px;}
.select_find .chackbox_find span{float:left;font-size:14px;color:#D4D4D4;display:inline-block;margin-top:3px;}
.select_find .chackbox_find span.active{color:#C0191F}
.select_find .chackbox_find strong{float:left;margin-left:2.13%;font-size: 16px;line-height:25px;color: #535353;font-weight:normal}
.select_find .service_phone{padding:11px 0 14px 0;margin-top:73px;border-top:1px solid #D4D4D4;border-bottom:1px solid #D4D4D4 ;margin-bottom:54px;}
.select_find .service_phone p{padding:0 1.7%;line-height:20px;font-size: 12px;color: #979797;letter-spacing: 0;}
.select_find .service_phone p span{color:#C0191F}
	/*手机找回*/
.phone_found{padding:15px 4% 0 4%; display: none;}
.fix_ipt{margin-bottom:15px;overflow: hidden;zoom: 1;}
.retrieve_password_next{width:100%;display:block;color:#ffffff;background:#C0191F;text-align: center;line-height:38px;margin:0 auto;border-radius:5px;-webkit-border-radius:5px;border:none}
.fix_ipt input{width:94.5%;height:25px;line-height:25px;padding:10px 0;padding-left:5%;border:1px solid #D4D4D4;float:left;border-radius:5px;-webkit-border-radius:5px;box-sizing:content-box}
.fix_ipt tt{display:inline-block;float:left;color:#C0191F;width:100%;padding-top:10px;}
.image_verify input{width:62.3%}
.image_verify a{width:29%;float:right;height:45px;}
.image_verify a img{width:100%;height:100%}
.phone_code input{width:62.3%}
.phone_code .sjyz{width:29%;text-align:center;border: 1px solid #90704D;float:right;height:45px;margin-left:2%;background:#ffffff;padding:0;color:#90704D;font-size:14px;}
.phone_found .retrieve_password_next{margin-top:184px;}
	/*邮箱找回*/
.EMail_found{padding:15px 4% 0 4%;display: none;}
.EMail_code input{width:62.3%}
.EMail_code .yxyz{width:29%;text-align:center;border: 1px solid #90704D;float:right;height:45px;margin-left:2%;background:#ffffff;padding:0;color:#90704D;font-size:14px;}
.EMail_found .retrieve_password_next{margin-top:184px;}
/*找回密码结束*/

/*设置新密码*/
.Reset_password{padding:15px 4% 0 4%;}
.s_Determine{width:62.7%;margin:0 auto;height:45px;line-height:45px;text-align: center; background:#C0191F;color:#ffffff;border:none;display:block;border-radius:5px;-webkit-border-radius:5px;margin-top:67px;}
.Password_level .grade_color span{width:32.4%;display: inline-block;height:14px;background:rgb(212, 212, 212)}
.Password_level .grade_color .level_l{border-radius: 100px 0 0 100px;}
.Password_level .grade_color .level_r{border-radius: 0px 100px 100px 0px;}
.Password_level .Rating_prompt span{width:32.4%;display: inline-block;height:14px;color: #979797;font-size:14px;text-align: center;margin-top:5px;margin-bottom:20px}
	/*重置密码成功*/
.Reset_the_success{color:#53B300; text-align: center;padding-top:44px;display: none;}
.Reset_the_success .icon{margin :0 auto;font-size:37px;}
.Reset_the_success p{margin-bottom:94px;font-size: 16px;color: #535353;letter-spacing: 0;text-align: center;margin-top:45px;}
.Reset_the_success a{width:62.7%;height:38px;margin:0 auto;margin-bottom:15px;text-align: center;line-height:38px; color:#ffffff;font-size:16px;background:#C0191F;display:block;border-radius:5px;
-webkit-border-radius:5px;}
/*设置新密码结束*/
.set_new_Password{display:none}
/*H5端密码过于简单模态框样式*/
.my-modal-pc_h5{
   display:none;

}
    .my-modal-pc_h5 .my-modal-bg {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index:9999;
        top: 0;
        left: 0;
        background-color: black;
        filter:alpha(opacity=70);   
         -moz-opacity:0.7;   
         -khtml-opacity: 0.7;   
         opacity: 0.7; 
    }
.my-modal-pc_h5 .my-modal-alert{
     border-radius: 5px;
  -webkit-border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  margin-top:-100px;
  margin-left:-125px;
  background-color: #000000;
  overflow: hidden;
  padding-bottom:45px
}                
.my-modal-pc_h5 .my-modal-alert .text{
  font-size: 24px;
  color: #595757;
  padding-top: 35px;
  text-align: center;
  padding-bottom: 35px;
  letter-spacing: 0;
}
    .my-modal-pc_h5 .my-modal-alert .text p {
            margin: 0 18px;
          text-align: left;
          color: #ffffff;
          line-height:20px;
          font-size: 14px
    }

.my-modal-pc_h5 .my-modal-alert .xgmm{
    position:absolute;bottom:0;width:100%;
    text-align:center;height:45px;
}
.my-modal-pc_h5 .my-modal-alert .xgmm a{
      float:left;
      color: #FFFFFF;
      text-decoration:none;
      font-size: 14px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      border-top:1px solid #535353;
      width: 50%}
.my-modal-pc_h5 .my-modal-alert .xgmm a.Change_Password:hover{}
.my-modal-pc_h5 .my-modal-alert .xgmm a.close_s{border-left:1px solid #535353;color:#979797}
.my-modal-pc_h5 .my-modal-alert .xgmm a.close_s:hover{}


/*游客浏览*/
.Visitors_to_browse{margin-top:34px;height:18px;font-size:14px;color:#90704D;text-align:center}
.Visitors_to_browse a{color:#90704D; text-decoration:none}

/*询问是否绑定*/
.wechatBindH5{padding-top:53px;padding-bottom:22px;}
    .wechatBindH5 .isBind {
        height: 25px;
        line-height: 25px;
        width: 100%;
        text-align: center;
        font-size: 19px;
        color: #535353;
    }
    .wechatBindH5 .bind_state{
        font-size: 15px;
        color: #979797;
        line-height: 22px;
        width:76.8%;
        margin:0 auto;
        margin-top:25px;
    }
   .wechatBindH5 .Immediately_binding{
       text-decoration:none;
       width:62.7%;
       background:#c0191f;
       color:#ffffff;
       font-size: 16px;
       text-align:center;
       height:38px;
       line-height:38px;
       border-radius:5px;
       -webkit-border-radius:5px;
       display:block;
       margin:0 auto;
       margin-top:58px;
   }
   .wechatBindH5 .banner_img{width:88%;margin:0 auto;margin-top:45px;}
   .wechatBindH5 .banner_img img{width:100%;max-height:100%;}
   .wechatBindH5 .banner_img p{width:100%;line-height:18px;text-align:center;margin-top:9px;font-size: 14px;color: #535353;}

   .error_modal{display:none}
   .error-modal-bg{
       position: fixed;
        height: 100%;
        width: 100%;
        z-index:9999;
        top: 0;
        left: 0;
        background-color: black;
        opacity:0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0.7;
        -khtml-opacity: 0.7;
   }
   .error-modal-alert{
      border-radius: 5px;
      -webkit-border-radius: 5px;
      position: fixed;
      top: 50%;
      left: 50%;
      width: 250px;
      margin-top:-100px;
      margin-left:-125px;
      background-color: #000000;
      overflow: hidden;
      padding-bottom:45px;
   }
   .error-modal-alert img{width:45px;height:40px;display:block;margin:0 auto;margin-top:25px;}
   .error-modal-alert p{margin-top:6px;margin-bottom:23px;line-height:20px;color:#ffffff;font-size:14px;text-align:center;}
   .error-modal-alert .back{display:block;text-decoration:none;position:absolute;bottom:0;font-size:14px;height:45px;line-height:45px;border-top:1px solid #535353;color:#ffffff;text-align:center;width:100%}

   /*H5服务条款*/
   .iphone_provisions{padding:0 4.5%;padding-bottom:43px;}
   .iphone_provisions h2{font-size: 18px;height:23px;line-height:23px;font-weight:bold;color: #535353;text-align:center;}
   .iphone_provisions h3{margin:0;margin-top:25px;line-height:25px;font-size:15px;color:#535353;font-weight:bold}
   .iphone_provisions p{line-height:25px;font-size:13px;padding-left:1%;color:#535353;margin:0 0 0 0 !important}
   .iphone_provisions p.bold_size_h5{font-size:13px;color:#535353;font-weight:bold}


/*注册三步*/


.hl_main1 {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 11;
}

.hl_main2 {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 111;
}

#getCode {
    overflow: hidden;
}

.nouser-body .hl_main2 .real-name {
    border-top: 1px solid #d4d4d4;
    margin-top: 30px;
    margin-bottom: 60px;
}
#adss_hl {
    background: #fff;
}
#btnRegH5_two{
    margin-top:20px;
}







